:80 {
	# tls internal

	redir /pgadmin /pgadmin/
	handle_path /pgadmin/* {
		reverse_proxy {
			to http://pgadmin:80
			header_up X-Script-Name "/pgadmin"
			header_up X-Scheme "https"
		}
	}

	redir /dex /dex/
	handle /dex/* {
		reverse_proxy {
			to http://dex:5556
			header_up X-Script-Name "/dex"
			header_up X-Scheme "https"
		}
	}

	redir /kc /kc/
	handle /kc/* {
		reverse_proxy {
			to http://keycloak:8080
			header_up X-Script-Name "/kc"
			header_up X-Scheme "https"
		}
	}

	redir /smtp /smtp/
	handle /smtp/* {
		reverse_proxy {
			to http://smtp:80
			header_up X-Script-Name "/smtp"
			header_up X-Scheme "https"
		}
	}

	handle {
		reverse_proxy http://dev:3000
	}
}
